  <%= erb :_head %>

  <%= erb :_header %>

      <section class="home-tour">
        <div class="the-review">
          <p class="the-category gray-text">El tour del día</p>
          <h1 class="the-title">Un viaje por toluca</h1>
          <p class="the-author">Por Arturo Valles</p>
          <div class="the-content">
            <p>Carry slow-carb, snackwave drinking vinegar art party banjo master cleanse locavore retro. Literally blue bottle offal, palo santo flannel drinking vinegar brunch craft beer actually. Venmo pork belly plaid succulents, shaman semiotics tofu waistcoat four dollar toast enamel pin. Bushwick letterpress lyft williamsburg, poutine fam plaid kogi activated charcoal hexagon kale chips. Post-ironic lomo wayfarers single-origin coffee biodiesel etsy forage, bespoke cray beard chillwave church-key try-hard.</p>
          </div>
          <p class="read-more gray-text">Lee más</p>
        </div>
        <div class="the-photos">
          <div class="photos-content">
            <img src="<%= url('/img/1.png') %>" alt="1">
            <img src="<%= url('/img/2.png') %>" alt="2">
            <br>
            <img src="<%= url('/img/3.png') %>" alt="3">
            <img src="<%= url('/img/4.png') %>" alt="4">
          </div>

        </div>
      </section>


    <section class="main-content">
      <section class="restaurants">

        <div class="title">
          <h1 class="the-title">Hola, Melper. Bienvenido a <span>Guadalajara</span>.</h1>
          <p>Prepara tu boca para los mejores restaurantes.</p>
        </div>
        <% @top5.each do |restaurant| %>

        <%= erb :_restaurants, :layout => false, :locals => { :restaurant => restaurant } %>
        <% end %>
        </section>

        <%= erb :_aside_articles %>

      </section>







    </section>


     <%= erb :_footer %>
